<div class="card card-{{ type|default('default') }}">
  {% if heading_title is not null %}
  <div class="card-header">{{ heading_title }}</div>
  {% endif %}
  <div class="card-block">
      {{ content }}
  </div>
  {% if footer_title is not null %}
  <div class="card-footer">{{ footer_title }}</div>
  {% endif %}
</div>