<div class="card{% if size is not null %} w-{{ size }}{% endif %} {{ attributes['class'] }}" {% include 'partials/_attributes.html.twig' with {'ignore': ['class']} %}>
  <div class="card-block">
    {{ content }}
    </div>
</div>